*{
	margin: 0;
	padding: 0;
	color:black;
	font-family: tahoma, roboto;
}

h1 {
	font-family: Tahoma;
	text-align: center;
	margin-bottom: 25px;
}
.section{
	padding-top: 3.5%; 
}
.col {
	background: #dfdfdf;
	border: 1px solid #ccc;
	border-radius: 4px;
	/*color: #fff;*/
	min-height: 30px;
	text-align: center;
}