.container{margin:0 auto;max-width:1200px;width:95%}
@media only screen and (min-width: 600px){
	.container{width:90%}
}
@media only screen and (min-width: 990px){
	.container{width:85%}
}
.container .row{margin-left:-.75rem;margin-right:-.75rem}
.row{margin-left:auto;margin-right:auto;margin-bottom:15px}
.row:after{content:"";display:table;clear:both}
.row .col{float:left;box-sizing:border-box;padding:0 .75rem;min-height:1px}

.row .col{margin-left:auto;left:auto;right:auto;}

.row .col.s1{width:8.3333333333%;}
.row .col.s2{width:16.6666666667%;}
.row .col.s3{width:25%;}
.row .col.s4{width:33.3333333333%;}
.row .col.s5{width:41.6666666667%;}
.row .col.s6{width:50%;}
.row .col.s7{width:58.3333333333%;}
.row .col.s8{width:66.6666666667%;}
.row .col.s9{width:75%;}
.row .col.s10{width:83.3333333333%;}
.row .col.s11{width:91.6666666667%;}
.row .col.s12{width:100%;}

@media only screen and (min-width: 600px){
	.row .col.m1{width:8.3333333333%;}
	.row .col.m2{width:16.6666666667%;}
	.row .col.m3{width:25%;}
	.row .col.m4{width:33.3333333333%;}
	.row .col.m5{width:41.6666666667%;}
	.row .col.m6{width:50%;}
	.row .col.m7{width:58.3333333333%;}
	.row .col.m8{width:66.6666666667%;}
	.row .col.m9{width:75%;}
	.row .col.m10{width:83.3333333333%;}
	.row .col.m11{width:91.6666666667%;}
	.row .col.m12{width:100%;}
}

@media only screen and (min-width: 990px){
	.row .col.l1{width:8.3333333333%;}
	.row .col.l2{width:16.6666666667%;}
	.row .col.l3{width:25%;}
	.row .col.l4{width:33.3333333333%;}
	.row .col.l5{width:41.6666666667%;}
	.row .col.l6{width:50%;}
	.row .col.l7{width:58.3333333333%;}
	.row .col.l8{width:66.6666666667%;}
	.row .col.l9{width:75%;}
	.row .col.l10{width:83.3333333333%;}
	.row .col.l11{width:91.6666666667%;}
	.row .col.l12{width:100%;}
}
@media only screen and (min-width: 1200px){
	.row .col.xl1{width:8.3333333333%;}
	.row .col.xl2{width:16.6666666667%;}
	.row .col.xl3{width:25%;}
	.row .col.xl4{width:33.3333333333%;}
	.row .col.xl5{width:41.6666666667%;}
	.row .col.xl6{width:50%;}
	.row .col.xl7{width:58.3333333333%;}
	.row .col.xl8{width:66.6666666667%;}
	.row .col.xl9{width:75%;}
	.row .col.xl10{width:83.3333333333%;}
	.row .col.xl11{width:91.6666666667%;}
	.row .col.xl12{width:100%;}
}